*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  padding-left: 20px;
}
.loginRow{
  background: #fff;
  border-radius: 30px;
  box-shadow: 12px 12px 20px;
}

.login img{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.login h1{
  font-size: 4rem;
  font-weight: 700;
  color: #00c6ff;
  font-family: 'Varela Round', sans-serif;
}

.loginInp{
  height: 50px;
  width: 70%;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 10px 7px 42px -8px rgba(0,0,0,0.27);
-webkit-box-shadow: 10px 7px 42px -8px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 7px 42px -8px rgba(0,0,0,0.27);
}

.profileInp{
  height: 50px;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  
}

input:disabled{
  background: #caeeee;
}

.loginInp::-ms-value{
  padding-left:20px

}

.loginButton{
  height:50px;
  width:50%;
  border:none;
  outline:none;
  font-weight: 600;
  border-radius: 60px;
  background:#00c6ff;
  color:#fff;
}

.signupButton{
  height:50px;
  width:50%;
  border:none;
  outline:none;
  font-weight: 600;
  border-radius: 60px;
  color: #fff;
  background:rgb(41, 41, 240);

}

.navMenu{
  color: white  !important;
  font-size: 2rem;
  font-family: 'Varela Round', sans-serif;
  margin-right: 10px;
}

.feedRow{
  background: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 87px -1px rgba(0,198,255,0.23);

}

.feedText{
  font-size: 1.5rem;
  font-family: 'Varela Round', sans-serif;
}
.likeButton {
  border-top:1px solid #00c4ff;
  color:#00c4ff;
}
.likeButtonAfter {
  border-top:1px solid #00c4ff;
  color:rgb(41, 41, 240);
}
.likeButton:hover{
  color:rgb(66, 66, 114);
}

.dispalyNone{
  display: none;
}




